@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    background-color: hsl(210, 13%, 94%);
}
.sidebar {
    grid-column: 1;
    background-color: hsl(133, 14%, 20%);
    height: 100vh;
    z-index: 1;
}